.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(159, 153, 153, 0.201);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__a {
  position: relative;
  color: #2f363e;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__redcircle {
  background-color: tomato;
  display: flex;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 28px;
  bottom: 28px;
}
